interactions:
- request:
    body: '{"url": "https://firecrawl.dev", "includeTags": [], "excludeTags": [],
      "onlyMainContent": true, "waitFor": 0, "skipTlsVerification": true, "removeBase64Images":
      true, "fastMode": false, "blockAds": true, "storeInCache": true, "maxAge": 172800000,
      "formats": ["markdown"], "headers": {}, "mobile": false, "proxy": "auto", "origin":
      "python-sdk@4.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.firecrawl.dev/v2/scrape
  response:
    body:
      string: "{\"success\":true,\"data\":{\"markdown\":\"We just raised our Series
        A and shipped Firecrawl /v2 \U0001F389. [Read the blog.](https://www.firecrawl.dev/blog/firecrawl-v2-series-a-announcement)\\n\\n[2
        Months Free \u2014 Annually](https://www.firecrawl.dev/pricing)\\n\\n# Turn
        websites into   LLM-ready data\\n\\nPower your AI apps with clean web data\\n\\nfrom
        any website. [It's also open source.](https://github.com/firecrawl/firecrawl)\\n\\nScrape\\n\\nSearch\\nNew\\n\\nMap\\n\\nCrawl\\n\\nScrape\\n\\nLogo\\n\\nNavigation\\n\\nButton\\n\\nH1
        Title\\n\\nDescription\\n\\nCTA Button\\n\\n\\\\[ .JSON \\\\]\\n\\n```json\\n1[\\\\\\n2
        \ {\\\\\\n3    \\\"url\\\": \\\"https://example.com\\\",\\\\\\n4    \\\"markdown\\\":
        \\\"# Getting Started...\\\",\\\\\\n5    \\\"json\\\": { \\\"title\\\": \\\"Guide\\\",
        \\\"docs\\\": \\\"...\\\" },\\\\\\n6    \\\"screenshot\\\": \\\"https://example.com/hero.png\\\"\\\\\\n7
        \ }\\\\\\n8]\\n```\\n\\nScrape Completed\\n\\nTrusted by5000+\\n\\ncompaniesof
        all sizes\\n\\n![Logo 17](https://www.firecrawl.dev/assets-original/logocloud/17.png)\\n\\n![Logo
        18](https://www.firecrawl.dev/assets-original/logocloud/18.png)\\n\\n![Logo
        1](https://www.firecrawl.dev/assets-original/logocloud/1.png)\\n\\n![Logo
        2](https://www.firecrawl.dev/assets-original/logocloud/2.png)\\n\\n![Logo
        3](ht[...]
