interactions:
- request:
    body: '{"trace_id": "fabb9e5b-b761-4b21-8514-cd4d3c937d09", "execution_type":
      "flow", "user_identifier": null, "execution_context": {"crew_fingerprint": null,
      "crew_name": null, "flow_name": "MyFlow", "crewai_version": "1.0.0", "privacy_level":
      "standard"}, "execution_metadata": {"expected_duration_estimate": 300, "agent_count":
      0, "task_count": 0, "flow_method_count": 0, "execution_started_at": "2025-10-21T14:26:37.988214+00:00"},
      "ephemeral_trace_id": "fabb9e5b-b761-4b21-8514-cd4d3c937d09"}'
    headers:
      Content-Type:
      - application/json
      X-Crewai-Version:
      - 1.0.0
    method: POST
    uri: https://app.crewai.com/crewai_plus/api/v1/tracing/ephemeral/batches
  response:
    body:
      string: '{"id":"fe167fd8-d9b8-4faa-bb28-ed13f10e8d2e","ephemeral_trace_id":"fabb9e5b-b761-4b21-8514-cd4d3c937d09","execution_type":"flow","crew_name":null,"flow_name":"MyFlow","status":"running","duration_ms":null,"crewai_version":"1.0.0","total_events":0,"execution_context":{"crew_fingerprint":null,"crew_name":null,"flow_name":"MyFlow","crewai_version":"1.0.0","privacy_level":"standard"},"created_at":"2025-10-21T14:26:38.410Z","updated_at":"2025-10-21T14:26:38.410Z","access_code":"TRACE-8b1efdc7b5","user_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3ccda5b1eea02b7d1edeeb99b7968370"
    status:
      code: 201
      message: Created
- request:
    body: '{"events": [{"event_id": "c6d1cb65-7e55-40a5-9319-766591bcd1ae", "timestamp":
      "2025-10-21T14:26:37.986131+00:00", "type": "flow_started", "event_data": {"timestamp":
      "2025-10-21T14:26:37.986131+00:00", "type": "flow_started", "source_fingerprint":
      null, "source_type": null, "fingerprint_metadata": null, "task_id": null, "task_name":
      null, "agent_id": null, "agent_role": null, "flow_name": "MyFlow", "inputs":
      null}}, {"event_id": "17621b79-f10a-497f-9eb1-c567f8ca43f1", "timestamp": "2025-10-21T14:26:37.986545+00:00",
      "type": "method_execution_started", "event_data": {"timestamp": "2025-10-21T14:26:37.986545+00:00",
      "type": "method_execution_started", "source_fingerprint": null, "source_type":
      null, "fingerprint_metadata": null, "task_id": null, "task_name": null, "agent_id":
      null, "agent_role": null, "flow_name": "MyFlow", "method_name": "start", "state":
      {"id": "c1c5fe64-dcf4-43b2-9081-c4a513770607"}, "params": {}}}, {"event_id":
      "60654efd-c07b-4171-a75d-9b943863e4bf", "timestamp": "2025-10-21T14:26:37.989677+00:00",
      "type": "method_execution_finished", "event_data": {"timestamp": "2025-10-21T14:26:37.989677+00:00",
      "type": "method_execution_finished", "source_fingerprint": null, "source_type":
      null, "fingerprint_metadata": null, "task_id": null, "task_name": null, "agent_id":
      null, "agent_role": null, "flow_name": "MyFlow", "method_name": "start", "result":
      {"parent_flow": "<tests.test_crew.test_sets_parent_flow_when_inside_flow.<locals>.MyFlow
      object at 0x12b835520>", "name": "crew", "cache": true, "tasks": [{"used_tools":
      "0", "tools_errors": "0", "delegations": "0", "i18n": "{''prompt_file'': None}",
      "name": "None", "prompt_context": "None", "description": "''Task 1''", "expected_output":
      "''output''", "config": "None", "callback": "None", "agent": "{''id'': UUID(''7fadf38e-4090-4643-9fcf-bd24b07e05e1''),
      ''role'': ''Researcher'', ''goal'': ''Make the best research and analysis on
      content about AI and AI agents'', ''backstory'': \"You''re an expert researcher,
      specialized in technology, software engineering, AI and startups. You work as
      a freelancer and is now working on doing research and analysis for a new customer.\",
      ''cache'': True, ''verbose'': False, ''max_rpm'': None, ''allow_delegation'':
      False, ''tools'': [], ''max_iter'': 25, ''agent_executor'': <crewai.agents.crew_agent_executor.CrewAgentExecutor
      object at 0x12b973fe0>, ''llm'': <crewai.llms.providers.openai.completion.OpenAICompletion
      object at 0x12b910290>, ''crew'': None, ''i18n'': {''prompt_file'': None}, ''cache_handler'':
      {}, ''tools_handler'': <crewai.agents.tools_handler.ToolsHandler object at 0x12b9934d0>,
      ''tools_results'': [], ''max_tokens'': None, ''knowledge'': None, ''knowledge_sources'':
      None, ''knowledge_storage'': None, ''security_config'': {''fingerprint'': {''metadata'':
      {}}}, ''callbacks'': [], ''adapted_agent'': False, ''knowledge_config'': None,
      ''apps'': None, ''mcps'': None}", "context": "NOT_SPECIFIED", "async_execution":
      "False", "output_json": "None", "output_pydantic": "None", "output_file": "None",
      "create_directory": "True", "output": "None", "tools": "[]", "security_config":
      "{''fingerprint'': {''metadata'': {}}}", "id": "UUID(''d8c03737-58d2-4c8e-929e-d9e0bf022a3b'')",
      "human_input": "False", "markdown": "False", "converter_cls": "None", "processed_by_agents":
      "set()", "guardrail": "None", "guardrails": "None", "max_retries": "None", "guardrail_max_retries":
      "3", "retry_count": "0", "start_time": "None", "end_time": "None", "allow_crewai_trigger_context":
      "None"}, {"used_tools": "0", "tools_errors": "0", "delegations": "0", "i18n":
      "{''prompt_file'': None}", "name": "None", "prompt_context": "None", "description":
      "''Task 2''", "expected_output": "''output''", "config": "None", "callback":
      "None", "agent": "{''id'': UUID(''49785d1e-2cfa-4967-a503-da9f6fea46df''), ''role'':
      ''Senior Writer'', ''goal'': ''Write the best content about AI and AI agents.'',
      ''backstory'': \"You''re a senior writer, specialized in t[...]
- request:
    body: '{"status": "completed", "duration_ms": 856, "final_event_count": 4}'
    headers:
      Content-Type:
      - application/json
      X-Crewai-Version:
      - 1.0.0
    method: PATCH
    uri: https://app.crewai.com/crewai_plus/api/v1/tracing/ephemeral/batches/fabb9e5b-b761-4b21-8514-cd4d3c937d09/finalize
  response:
    body:
      string: '{"id":"fe167fd8-d9b8-4faa-bb28-ed13f10e8d2e","ephemeral_trace_id":"fabb9e5b-b761-4b21-8514-cd4d3c937d09","execution_type":"flow","crew_name":null,"flow_name":"MyFlow","status":"completed","duration_ms":856,"crewai_version":"1.0.0","total_events":4,"execution_context":{"crew_name":null,"flow_name":"MyFlow","privacy_level":"standard","crewai_version":"1.0.0","crew_fingerprint":null},"created_at":"2025-10-21T14:26:38.410Z","updated_at":"2025-10-21T14:26:39.268Z","access_code":"TRACE-8b1efdc7b5","user_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"dfa32cefa9e9282e5792820119ebc7f4"
    status:
      code: 200
      message: OK
version: 1
