interactions:
- request:
    body: '{"trace_id": "48baf84b-6f03-4e2e-b69a-36f2e6298da6", "execution_type":
      "crew", "user_identifier": null, "execution_context": {"crew_fingerprint": null,
      "crew_name": "crew", "flow_name": null, "crewai_version": "1.0.0", "privacy_level":
      "standard"}, "execution_metadata": {"expected_duration_estimate": 300, "agent_count":
      0, "task_count": 0, "flow_method_count": 0, "execution_started_at": "2025-10-21T14:19:57.504164+00:00"},
      "ephemeral_trace_id": "48baf84b-6f03-4e2e-b69a-36f2e6298da6"}'
    headers:
      Content-Type:
      - application/json
      X-Crewai-Version:
      - 1.0.0
    method: POST
    uri: https://app.crewai.com/crewai_plus/api/v1/tracing/ephemeral/batches
  response:
    body:
      string: '{"id":"789714f7-716c-4a0c-a6f6-3142aac81766","ephemeral_trace_id":"48baf84b-6f03-4e2e-b69a-36f2e6298da6","execution_type":"crew","crew_name":"crew","flow_name":null,"status":"running","duration_ms":null,"crewai_version":"1.0.0","total_events":0,"execution_context":{"crew_fingerprint":null,"crew_name":"crew","flow_name":null,"crewai_version":"1.0.0","privacy_level":"standard"},"created_at":"2025-10-21T14:19:57.950Z","updated_at":"2025-10-21T14:19:57.950Z","access_code":"TRACE-2e6a3ca401","user_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"b8a7fe4a39ec1a557b05f0e3526227b0"
    status:
      code: 201
      message: Created
version: 1
