interactions:
- request:
    body: '{"status": "failed", "failure_reason": "Error sending events to backend"}'
    headers:
      Content-Type:
      - application/json
      X-Crewai-Version:
      - 1.0.0a2
    method: PATCH
    uri: https://app.crewai.com/crewai_plus/api/v1/tracing/batches/None
  response:
    body:
      string: '{"error":"bad_credentials","message":"Bad credentials"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
