interactions:
- request:
    body: '{"trace_id": "0fddd471-b8fe-48df-8da8-1fc08a3f2d6c", "execution_type":
      "crew", "user_identifier": null, "execution_context": {"crew_fingerprint": null,
      "crew_name": "crew", "flow_name": null, "crewai_version": "0.201.1", "privacy_level":
      "standard"}, "execution_metadata": {"expected_duration_estimate": 300, "agent_count":
      0, "task_count": 0, "flow_method_count": 0, "execution_started_at": "2025-10-10T00:26:33.616704+00:00"},
      "ephemeral_trace_id": "0fddd471-b8fe-48df-8da8-1fc08a3f2d6c"}'
    headers:
      Content-Type:
      - application/json
      X-Crewai-Version:
      - 0.201.1
    method: POST
    uri: https://app.crewai.com/crewai_plus/api/v1/tracing/ephemeral/batches
  response:
    body:
      string: '{"id":"82c20405-0738-4473-a6d8-fe8ddfb348d8","ephemeral_trace_id":"0fddd471-b8fe-48df-8da8-1fc08a3f2d6c","execution_type":"crew","crew_name":"crew","flow_name":null,"status":"running","duration_ms":null,"crewai_version":"0.201.1","total_events":0,"execution_context":{"crew_fingerprint":null,"crew_name":"crew","flow_name":null,"crewai_version":"0.201.1","privacy_level":"standard"},"created_at":"2025-10-10T00:26:34.105Z","updated_at":"2025-10-10T00:26:34.105Z","access_code":"TRACE-a3ac21e9f5","user_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3eb78de74b1d73905a199ad2af1cd220"
    status:
      code: 201
      message: Created
version: 1
