interactions:
- request:
    body: '{"url": "https://firecrawl.dev", "scrapeOptions": {"onlyMainContent": true,
      "skipTlsVerification": true, "removeBase64Images": true, "fastMode": false,
      "blockAds": true, "storeInCache": true, "maxAge": 14400000, "formats": ["markdown"],
      "mobile": false}, "maxDiscoveryDepth": 1, "ignoreQueryParameters": false, "crawlEntireDomain":
      false, "allowExternalLinks": false, "allowSubdomains": false, "zeroDataRetention":
      false, "limit": 2, "origin": "python-sdk@4.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.firecrawl.dev/v2/crawl
  response:
    body:
      string: '{"success":true,"id":"9352ed1c-88bf-4258-a466-d29911ebcbe4","url":"https://api.firecrawl.dev/v2/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8c-fED/T2aXbMOo5pJqCnnUBI+Nxdg"
      X-Response-Time:
      - 226.898ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.firecrawl.dev/v2/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4
  response:
    body:
      string: '{"success":true,"status":"scraping","completed":0,"total":1,"creditsUsed":0,"expiresAt":"2025-10-30T14:36:40.000Z","next":"https://api.firecrawl.dev/v1/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4?skip=0","data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d5-OcGtIv57Kg7bh/wrZe+zWFJqn0E"
      X-Response-Time:
      - 70.427ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.firecrawl.dev/v1/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4?skip=0
  response:
    body:
      string: '{"success":true,"status":"scraping","completed":0,"total":2,"creditsUsed":0,"expiresAt":"2025-10-30T14:36:40.000Z","next":"https://api.firecrawl.dev/v1/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4?skip=0","data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d5-NmftxFEyWM/DUPtv1KTn3bd8F8c"
      X-Response-Time:
      - 69.952ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.firecrawl.dev/v1/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4?skip=0
  response:
    body:
      string: "{\"success\":true,\"status\":\"scraping\",\"completed\":1,\"total\":2,\"creditsUsed\":2,\"expiresAt\":\"2025-10-30T14:36:41.000Z\",\"next\":\"https://api.firecrawl.dev/v1/crawl/9352ed1c-88bf-4258-a466-d29911ebcbe4?skip=2\",\"data\":[{\"markdown\":\"We
        just raised our Series A and shipped Firecrawl /v2 \U0001F389. [Read the blog.](https://www.firecrawl.dev/blog/firecrawl-v2-series-a-announcement)\\n\\n[2
        Months Free \u2014 Annually](https://www.firecrawl.dev/pricing)\\n\\n# Turn
        websites into   LLM-ready data\\n\\nPower your AI apps with clean web data\\n\\nfrom
        any website. [It's also open source.](https://github.com/firecrawl/firecrawl)\\n\\nScrape\\n\\nSearch\\nNew\\n\\nMap\\n\\nCrawl\\n\\nScrape\\n\\nLogo\\n\\nNavigation\\n\\nButton\\n\\nH1
        Title\\n\\nDescription\\n\\nCTA Button\\n\\n\\\\[ .JSON \\\\]\\n\\n```json\\n1[\\\\\\n2
        \ {\\\\\\n3    \\\"url\\\": \\\"https://example.com\\\",\\\\\\n4    \\\"markdown\\\":
        \\\"# Getting Started...\\\",\\\\\\n5    \\\"json\\\": { \\\"title\\\": \\\"Guide\\\",
        \\\"docs\\\": \\\"...\\\" },\\\\\\n6    \\\"screenshot\\\": \\\"https://example.com/hero.png\\\"\\\\\\n7
        \ }\\\\\\n8]\\n```\\n\\nScrape Completed\\n\\nTrusted by5000+\\n\\ncompaniesof
        all sizes\\n\\n![Logo 17](https://www.firecrawl.dev/assets-original/logocloud/17.png)\\n\\n![Logo
        18](https://www.firecrawl.dev/assets-original/logocloud/18.png)\\n\\n![Logo
        1](https://www.firecrawl.dev/assets-original/logocloud/1.png)\\n\\n![Logo
        2](https://www.firecrawl.dev/assets-original/logocloud/2.png)\\n\\n![Logo
        3](ht[...]
[...]
