interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.mem0.ai/v1/memories/?user_id=test
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, POST, DELETE, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: '{"batch": [{"properties": {"python_version": "3.12.4 (v3.12.4:8e8a4baf65,
      Jun  6 2024, 17:33:18) [Clang 13.0.0 (clang-1300.0.29.30)]", "os": "darwin",
      "os_version": "Darwin Kernel Version 23.4.0: Wed Feb 21 21:44:54 PST 2024; root:xnu-10063.101.15~2/RELEASE_ARM64_T6030",
      "os_release": "23.4.0", "processor": "arm", "machine": "arm64", "function":
      "mem0.client.main.MemoryClient", "$lib": "posthog-python", "$lib_version": "3.5.0",
      "$geoip_disable": true}, "timestamp": "2024-08-17T06:00:11.526640+00:00", "context":
      {}, "distinct_id": "fd411bd3-99a2-42d6-acd7-9fca8ad09580", "event": "client.init"}],
      "historical_migration": false, "sentAt": "2024-08-17T06:00:11.701621+00:00",
      "api_key": "phc_hgJkUVJFYtmaJqrvf6CYN67TIQ8yhXAkWzUn9AMU4yX"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us.i.posthog.com/batch/
  response:
    body:
      string: '{"status":"Ok"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"messages": [{"role": "user", "content": "Remember the following insights
      from Agent run: test value with provider"}], "metadata": {"task": "test_task_provider",
      "agent": "test_agent_provider"}, "app_id": "Researcher"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mem0.ai/v1/memories/
  response:
    body:
      string: '{"message":"ok"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, POST, DELETE, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "test value with provider", "limit": 3, "app_id": "Researcher"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.mem0.ai/v1/memories/search/
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      allow:
      - POST, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: '{"batch": [{"properties": {"python_version": "3.12.4 (v3.12.4:8e8a4baf65,
      Jun  6 2024, 17:33:18) [Clang 13.0.0 (clang-1300.0.29.30)]", "os": "darwin",
      "os_version": "Darwin Kernel Version 23.4.0: Wed Feb 21 21:44:54 PST 2024; root:xnu-10063.101.15~2/RELEASE_ARM64_T6030",
      "os_release": "23.4.0", "processor": "arm", "machine": "arm64", "function":
      "mem0.client.main.MemoryClient", "$lib": "posthog-python", "$lib_version": "3.5.0",
      "$geoip_disable": true}, "timestamp": "2024-08-17T06:00:13.593952+00:00", "context":
      {}, "distinct_id": "fd411bd3-99a2-42d6-acd7-9fca8ad09580", "event": "client.add"}],
      "historical_migration": false, "sentAt": "2024-08-17T06:00:13.858277+00:00",
      "api_key": "phc_hgJkUVJFYtmaJqrvf6CYN67TIQ8yhXAkWzUn9AMU4yX"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us.i.posthog.com/batch/
  response:
    body:
      string: '{"status":"Ok"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
