name: Deploy MkDocs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Requirements
        run: |
          sudo apt-get update &&
          sudo apt-get install pngquant &&
          pip install mkdocs-material

        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build and deploy MkDocs
        run: mkdocs gh-deploy --force